alias ll="ls -lh"

# git
alias gs="git status"
alias gc="git commit"


alias v="vim"

# typos
alias sl=ls

# adding configs
alias mv="mv -i"
alias mkdir="mkdir -p"
alias df="df -h"

alias la="ls -A"
alias lla="la -l"

# python venv
alias cve="source ./.venv/bin/activate"
alias dve="source ~/projects/.venv/bin/activate"

# RHEL
# alias bat="~/apps/bat/bat"
# alias flameshot="~/apps/flameshot/flameshot.AppImage"
alias clear_keyring="rm ~/.local/share/keyrings/login.keyring"

