alias ll="ls -lh"

# git
alias gs="git status"
alias gc="git commit"


alias v="vim"

# typos
alias sl=ls
alias abt=bat

# adding configs
alias mv="mv -i"
alias mkdir="mkdir -p"
alias df="df -h"

alias la="ls -A"
alias lla="la -l"

# python venv
alias cve="source ./.venv/bin/activate"
alias dve="source ~/.venv/bin/activate"

# create a ipykernel
alias ipykernel_install="python -m ipykernel install --user --name"

# dot-files folder
export DOTPROJ='$HOME/projects/dot-files'
export PLUGINS_NVIM="$HOME/.local/share/nvim/site/pack/deps"

# nvidia
alias nvidia_monitor="watch -n0.1 nvidia-smi"

# get current branch
alias gcb='git rev-parse --abbrev-ref HEAD | xclip'

# force gs to be git status command instead of Ghostscript
alias gs='command git status'

# run tree to show hidden files but not .git folder
alias ta='tree -aI .git '

alias restart_gnome="xdotool key 'Alt+F2+r' && sleep 0.2 && xdotool key 'Return'"

# fzf
alias fzfprev='fzf --preview="bat --color=always {}"'
alias fzfnvim='nvim $(fzf --preview="bat --color=always --style=numbers {}" --bind shift-up:preview-page-up,shift-down:preview-page-down)'

# clipboard
alias xclipf="xclip $1 -selection clipboard"

# date
alias fdate="date +'%F %A'"

