#!/usr/bin/env zsh

# functions
dl_and_mv_repo(){
    URL=$1              # url to zip file with the master branch of the repository
    ZIP=$2              # name of the zip and unziped folder ex.: dot-file-main.zip and dot-file-main
    DEST=$3             # name of the destination folder
    DOWNLOAD_FOLDER=$4  # path to the download folder
    INSTALL_FOLDER=$5   # path to be installed  

    echo ""
    [[ -e $DOWNLOAD_FOLDER/$ZIP.zip ]] && rm $DOWNLOAD_FOLDER/$ZIP.zip 
    echo "Download $URL waiting for it under $DOWNLOAD_FOLDER with filename: $ZIP.zip" 
    while ! [[ -e $DOWNLOAD_FOLDER/$ZIP.zip ]]; do; sleep 1; done
    # read -qs "?Download $URL and press a key to continue..."
    echo ""
    cd $DOWNLOAD_FOLDER
    [[ -e $DOWNLOAD_FOLDER/$ZIP.zip ]] || { echo "$ZIP.zip file not found. Exiting"; exit 1; }
    unzip -qq $ZIP.zip
    [[ -d $DOWNLOAD_FOLDER/$DEST ]] && rm -r $DOWNLOAD_FOLDER/$DEST
    mv $ZIP $DEST
    [[ -d $INSTALL_FOLDER/$DEST ]] && rm -r $INSTALL_FOLDER/$DEST
    mv $DEST $INSTALL_FOLDER/
    rm $ZIP.zip
    echo ""
}
export dl_and_mv_repo

