[Desktop Entry]
Version=1.0
Name=Flameshot
Comment=Screenshot Tool
Exec=/home/kemmerb/.local/bin/flameshot
Icon=/home/kemmerb/.local/flameshot/flameshot-icon.svg
Terminal=false
Type=Application
Categories=Utility;
